@media only screen and (max-width: 1129px) {
.container											{ width:100%; margin:0 auto;}
.header .topLinks 									{ overflow:hidden; right:0; width:600px;}
.header .topLinks .topLink3 						{ right:-60px; background-position:left top;}

}

@media only screen and (max-width: 999px) {
.container											{ width:100%; margin:0 auto;}
.header .topLinks 									{ position:relative; width:660px; margin:0 auto;}
.header .topLinks .topLink3 						{ right:0px;}
.header .logo 										{ position:relative; margin:0 auto; width:530px; background-position:right top; left:0;}
#nav .nav											{ float:none; width:100%; text-align:center;}
#nav span											{ float:none; margin:0 auto; display:block; text-align:center; padding-bottom:12px;}
#nav  span a		 								{ float:none; margin:0 auto; display:block; text-align:center; padding-bottom:12px;}
.footer .footerInner .contactadd					{ width:30%;}
.footer .footerInner .locationsMap					{ width:30%;}
.footer .footerInner .footerNavigation				{ width:30%;}

.midcontent .leftContent							{ width:94%; margin:3% 3%; float:none;}
.midcontent .leftContent .left						{ width:48%; float:left;}
.midcontent .leftContent .right						{ width:48%; float:right;}
.midcontent .sideBar								{ width:94%; margin:3% 3%; float:none;}
.midcontent .sideBar .box							{ width:38%; padding:4%; float:left; margin:0 1%;}

}
@media only screen and (max-width: 999px) {
	#nav .nav ul li {padding: 8px 10px;}
}

@media only screen and (max-width: 767px) {

	#nav .nav										{ padding-top:3px;}
	#nav .nav ul									{ display:none; position:relative;}
	#nav .nav ul li									{  position:relative; width:100%; float:none; padding:2px 0;}
	#menuid											{ display:block;}
	
	.header .topLinks								{ width:90%; margin:0 auto;}
	.header .topLinks .topLink						{ background:#002445; min-height:40px; width:32%; position:relative;}
	.header .topLinks .topLink2						{ left:0;}
	.header .topLinks .topLink span					{ padding:10px 0 15px; display:block;}
	.header .topLinks .topLink a					{ position:relative; left:0; bottom:10px;}
	.footer .footerInner .contactadd					{ width:90%; margin:0 5% 5%;}
	.footer .footerInner .locationsMap					{ width:90%; margin:0 5% 5%;}
	.footer .footerInner .footerNavigation				{ width:90%; margin:0 5% 5%;}
	
	.midcontent .leftContent .left						{ width:98%; float:none;}
	.midcontent .leftContent .right						{ width:98%; float:none;}
	.midcontent .leftContent .findhere span				{ font-size:22px; display:block;}
	.midcontent .sideBar .box							{ width:92%; padding:3%; float:left; margin:3% 1%;}


	
}
@media only screen and (max-width: 639px) {
	.header 										{ min-height:100px;}
	.header .topLinks .topLink						{ width:100%;}
	.header .logo									{ background:none; padding-top:20px; width:100%; padding-bottom:20px; min-height:80px; height:auto}
	.header .logo a									{ width:60%; display:block; margin:0 auto;}
	.header .logo a img								{ width:100%; height:auto;}
	}
	@media only screen and (max-width: 479px) {
		.midcontent .leftContent .learnBox 						{ text-align:center; padding:5%;}
		.midcontent .leftContent .learnBox	span				{ float:left; display:inline-block; width:100%; text-align:center;}
		.midcontent .leftContent .learnBox a					{ float:none; margin:0 auto;}
	}